[submodule "BMPfile"]
	path = BMPfile
	url = https://github.com/SashaErkhov/BMPfile.git
[submodule "UndoRedo"]
	path = UndoRedo
	url = https://github.com/Ardrass2/UndoRedo
[submodule "math"]
	path = math
	url = https://github.com/ardrass2/minimizeroptimizer
