[submodule "Math"]
	path = src/Math
	url = https://github.com/OurPaintTeam/Math-MinimizerOptimizer-Module.git
[submodule "src/Math"]
	path = src/Math
	url = https://github.com/OurPaintTeam/Math-MinimizerOptimizer-Module.git
